# End-to-end run no GPU

### Imports

In [1]:
# -- public imports

from transformers import BigBirdTokenizer, AutoTokenizer, AutoModelForTokenClassification, AutoConfig
import pandas as pd
from torch.utils.data import DataLoader
import torch

In [38]:
# -- dev imports
# TODO prediction string stasrt from 0 or 1?
%load_ext autoreload
%autoreload 2

from argminer.data import ArgumentMiningDataset
from argminer.evaluation import inference, get_word_labels

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [81]:
path_label_map = '../../data/UCL/dataset2/df_label_map_bio.json'
path_dataset = '../../data/UCL/dataset2/df_labels_general.json'

df_label_map = pd.read_json(path_label_map)
df_text = pd.read_json(path_dataset)
df_text.predictionString = df_text.predictionString.apply(lambda x: ' '.join([str(item) for item in x]))
df_text.label_bio = df_text.label_bio.apply(lambda x: ' '.join([str(item) for item in x]))
df_text.head()

,label_type,label,text,span_start,span_end,doc_id,predictionString,label_bio,label_bieo
0,O,Other,Should students be taught to compete or to coo...,0,503,essay001,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...,O O O O O O O O O O O O O O O O O O O O O O O ...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1,T1,MajorClaim,we should attach more importance to cooperatio...,503,575,essay001,83 84 85 86 87 88 89 90 91 92,B-MajorClaim I-MajorClaim I-MajorClaim I-Major...,"[B-MajorClaim, I-MajorClaim, I-MajorClaim, I-M..."
2,O,Other,".\nFirst of all,",575,591,essay001,93 94 95 96,O O O O,"[O, O, O, O]"
3,T3,Claim,"through cooperation, children can learn about ...",591,714,essay001,97 98 99 100 101 102 103 104 105 106 107 108 1...,B-Claim I-Claim I-Claim I-Claim I-Claim I-Clai...,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
4,O,Other,.,714,716,essay001,115,O,[O]

0        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1                            83 84 85 86 87 88 89 90 91 92
2                                              93 94 95 96
3        97 98 99 100 101 102 103 104 105 106 107 108 1...
4                                                      115
                               ...
12575                                        137293 137294
12576    137295 137296 137297 137298 137299 137300 1373...
12577                                 137305 137306 137307
12578    137308 137309 137310 137311 137312 137313 1373...
12579                                               137320
Name: predictionString, Length: 12580, dtype: object

In [87]:
df_input = df_text.groupby('doc_id').agg({
    'text':lambda x: ' '.join(x),
    'predictionString': lambda x: ' '.join(x),
    'label_bio': lambda x: ' '.join(x)
})
df_input.label_bio = df_input.label_bio.str.split()
df_input

,text,predictionString,label_bio
doc_id,,,
essay001,Should students be taught to compete or to coo...,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay002,More people are migrating to other countries t...,388 389 390 391 392 393 394 395 396 397 398 39...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay003,International tourism is now more common than ...,734 735 736 737 738 739 740 741 742 743 744 74...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay004,International tourism is now more common than ...,1004 1005 1006 1007 1008 1009 1010 1011 1012 1...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay005,Living and studying overseas\n\nIt is every st...,1303 1304 1305 1306 1307 1308 1309 1310 1311 1...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
...,...,...,...
essay398,We can not forcedly put the same numbers of ma...,135846 135847 135848 135849 135850 135851 1358...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay399,"Drugs, alcohol and messy sex lives\n\nCelebrit...",136187 136188 136189 136190 136191 136192 1361...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay400,A greater proportion of the budget should be a...,136459 136460 136461 136462 136463 136464 1364...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay401,Fatherhood should be as present as motherhood ...,136752 136753 136754 136755 136756 136757 1367...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
essay402,Children should studying hard or playing sport...,137042 137043 137044 137045 137046 137047 1370...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."

In [28]:
model_name = 'google/bigbird-roberta-base'
num_labels = df_label_map.shape[0]

model = AutoModelForTokenClassification.from_pretrained(model_name, num_labels=num_labels)
tokenizer = AutoTokenizer.from_pretrained(model_name)
optimizer = torch.optim.Adam(params=model.parameters())

Some weights of the model checkpoint at google/bigbird-roberta-base were not used when initializing BigBirdForTokenClassification: ['cls.predictions.transform.dense.weight', 'cls.predictions.decoder.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BigBirdForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BigBirdForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BigBirdForTokenClassification were not initialized from the model checkpoint at google/bigbird-roberta-base and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
normalizer.cc(51) LOG(INFO) precompiled_charsmap is empty. use identity normalization.

In [88]:
limit_size = 2

dataset = ArgumentMiningDataset(
    df_label_map,
    df_input[['text', 'label_bio']].rename(columns={'label_bio':'labels'}),
    tokenizer,
    max_length=256,
    strategy='standard_bio'
)

trainloader = DataLoader(dataset, batch_size=2, shuffle=True)

In [102]:
epochs = 2
for epoch in range(epochs):
    training_loss = 0
    for i, (inputs, targets) in enumerate(trainloader):
        optimizer.zero_grad()

        loss, outputs = model(
            labels=targets,
            input_ids=inputs['input_ids'],
            attention_mask=inputs['attention_mask'],
            return_dict=False
        )
            
        training_loss += loss.item()

        # backward pass
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        break
    print(training_loss/(i+1))

1.6381123065948486
1.5479151010513306

In [130]:
val_dataset = ArgumentMiningDataset(
    df_label_map,
    df_input[['text', 'label_bio']].rename(columns={'label_bio':'labels'}),
    tokenizer,
    max_length=512,
    strategy='standard_bio',
    is_train = False
)
valloader = DataLoader(val_dataset, batch_size=2, shuffle=False)
print(df_input)

                                                       text  \
doc_id
essay001  Should students be taught to compete or to coo...
essay002  More people are migrating to other countries t...
essay003  International tourism is now more common than ...
essay004  International tourism is now more common than ...
essay005  Living and studying overseas\n\nIt is every st...
...                                                     ...
essay398  We can not forcedly put the same numbers of ma...
essay399  Drugs, alcohol and messy sex lives\n\nCelebrit...
essay400  A greater proportion of the budget should be a...
essay401  Fatherhood should be as present as motherhood ...
essay402  Children should studying hard or playing sport...

                                           predictionString  \
doc_id
essay001  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
essay002  388 389 390 391 392 393 394 395 396 397 398 39...
essay003  734 735 736 737 738 739 740 741 742 743 744 74...
essay004  1004 1005 1006 1007 1008 1009 1010 1011 1012 1...
essay005  1303 1304 1305 1306 1307 1308 1309 1310 1311 1...
...                                                     ...
essay398  135846 135847 135848 135849 135850 135851 1358...
essay399  136187 136188 136189 136190 136191 136192 1361...
essay400  136459 136460 136461 136462 136463 136464 1364...
essay401  136752 136753 136754 136755 136756 136757 1367...
essay402  137042 137043 137044 137045 137046 137047 1370...

                                                  label_bio
doc_id
essay001  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay002  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay003  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay004  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay005  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
...                                                     ...
essay398  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay399  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay400  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay401  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
essay402  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...

[402 rows x 3 columns]

In [339]:
def evaluate(df_outputs, df_targets):
    # TODO problem of duplicates? Think about this with test cases
    """
    Calculates the F-Score given prediction strings
    """
    # -- Constants
    gt, pred = '_gt', '_pred'
    
    #    Merge constants
    merge_on = ['id', 'class']
    suffixes = (gt, pred)

    #    Columns labels
    overlap_pred_gt = f'overlap{pred}{gt}'  # how much of ground truth in prediction
    overlap_gt_pred = f'overlap{gt}{pred}'  # how much of prediction in ground truth
    pred_col_name = 'predictionString'
    gt = f'{pred_col_name}{gt}'
    pred = f'{pred_col_name}{pred}'

    
    # TODO is this even correct?? Would you not be repeating items??
    # find all combinations
    # REally really not sure of this assumption...
    df_targets = df_targets.merge(
        df_outputs, on=merge_on, suffixes=suffixes
    )    
    # find intersection and normalise against each item
    df_targets[overlap_pred_gt] = df_targets[[gt, pred]].apply(
        lambda x: len(x[gt].intersection(x[pred])) / len(x[pred]), axis=1
    )
    
    df_targets[overlap_gt_pred] = df_targets[[pred, gt]].apply(
        lambda x: len(x[gt].intersection(x[pred])) / len(x[gt]), axis=1
    )
    

    df_targets['tp'] = df_targets[[overlap_pred_gt, overlap_gt_pred]].apply(
        lambda x: int(x.overlap_pred_gt >= 0.5 and x.overlap_gt_pred >= 0.5), axis=1
    )
    df_targets['overlap_sum'] = df_targets.overlap_pred_gt + df_targets.overlap_gt_pred
    df_targets[pred] = df_targets[pred].apply(lambda x: tuple(x))
    df_targets[gt] = df_targets[gt].apply(lambda x: tuple(x))
    
    # only keep the ones with the highest overall score
    df_targets_match = df_targets[df_targets['tp'] == 1].groupby(
        ['id', 'class', pred]
    ).agg({'overlap_sum':'max', gt: lambda x: x})
    
    # need to find TP by class!
    TP = df_targets_match.shape[0]
    
    # find the items that have no match, but also do not have predictionStrings that are matched
    df_targets_no_match = df_targets[
        (df_targets['tp'] == 0) & (~df_targets.set_index(['id', 'class', pred]).index.isin(df_targets_match.index))
    ]


    
    ids_no_matches = (df_targets_no_match.overlap_pred_gt == 0) & (df_targets_no_match.overlap_gt_pred == 0)
    # filter out the false positives
    df_false_positives = df_targets_no_match[
        ~ids_no_matches
    ]


    df_false_negatives = df_targets_no_match[
        (ids_no_matches) & (~df_targets_no_match.set_index(['id', 'class', gt]).index.isin(
            df_targets_match.reset_index().set_index(['id', 'class', gt]).index
        ))
    ]
    
    TP = df_targets_match.reset_index().groupby(['id', 'class']).size().to_frame('tp').reset_index()
    FN = df_false_negatives.groupby(['id', 'class']).size().to_frame('fn').reset_index()
    FP = df_false_positives.groupby(['id', 'class']).size().to_frame('fp').reset_index()
    
    scores = TP.merge(
        FN.merge(FP, how='outer'), how='outer'
    ).fillna(0)
    
    
    # TODO need to apply f1 score
    return scores

In [340]:
df_outputs = pd.DataFrame(data={
    'id':[1,1,2,1],
    'class':[1,1,1, 2],
    'predictionString':[{1,2}, {6,7}, {1,2,3}, {1,2}]
})
df_targets = pd.DataFrame(data={
    'id':[1,1,1,2, 1],
    'class':[1,1,1,1, 2],
    'predictionString':[{1,2,3, 4, 5}, {6,7,8}, {21,22,23,24,25}, {1,2,3}, {1,2}]
})

evaluate(df_outputs, df_targets)

   id  class  tp   fn   fp
0   1      1   1  1.0  1.0
1   1      2   1  0.0  0.0
2   2      1   1  0.0  0.0

In [207]:
with torch.no_grad():
    
    for i, (inputs, targets) in enumerate(valloader):
        loss, outputs = model(
            labels=targets,
            input_ids=inputs['input_ids'],
            attention_mask=inputs['attention_mask'],
            return_dict=False
        )
        
        # validation should have this, all can still be on the GPU
        word_ids = inputs['word_ids']
        doc_ids = inputs['index']
        
        word_label_probas = get_word_labels(word_ids, outputs, agg_strategy='first', has_x=False)
        # can still be GPU
        word_labels = [tensor.argmax(dim=1) for tensor in word_label_probas]
        # still GPU
        
        target_labels = get_word_labels(word_ids, targets, agg_strategy='first', has_x=False)
        
        
        # todo need to have a label to map groups of items back to each other,
        # so first convert back to strings, then relabel based on strings, e.g. remove the 'B-I' stuff!
        df_targets_predString = get_predictionString(target_labels, doc_ids)
        df_outputs_predString = get_predictionString(word_labels, doc_ids)
        
        evaluate(df_outputs_predString, df_targets_predString)
        
        # also needs the doc ID for the mapping, so doc_id is missing!!!!
        break

   id  class                                   predictionString
0   0      0  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1   1      0  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
    id  class                                predictionString_gt  \
0    0      0  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1    0      0  {38828, 38829, 38830, 38831, 38832, 38833, 388...
2    0      0  {48115, 48116, 48117, 48118, 48119, 48120, 481...
3    0      0  {59512, 59513, 59514, 59515, 59516, 59517, 595...
4    0      0  {75776, 75777, 75778, 75779, 75780, 75781, 757...
5    0      0  {84838, 84839, 84840, 84841, 84842, 84843, 848...
6    0      0  {93281, 93282, 93283, 93284, 93285, 93286, 932...
7    0      0  {98770, 98771, 98772, 98773, 98774, 98775, 987...
8    0      0  {108057, 108058, 108059, 108060, 108061, 10806...
9    0      0  {137178, 137179, 137180, 137181, 137182, 13718...
10   0      0  {147731, 147732, 147733, 147734, 147735, 14773...
11   0      0  {162926, 162927, 162928, 162929, 162930, 16293...
12   1      0  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
13   1      0  {30720, 30721, 30722, 30723, 30724, 30725, 307...
14   1      0  {37907, 37908, 37909, 37910, 37911, 37912, 379...
15   1      0  {50417, 50418, 50419, 50420, 50421, 50422, 504...
16   1      0  {57621, 57622, 57623, 57624, 57625, 57626, 576...
17   1      0  {65536, 65537, 65538, 65539, 65540, 65541, 655...
18   1      0  {70892, 70893, 70894, 70895, 70896, 70897, 708...
19   1      0  {74306, 74307, 74308, 74309, 74310, 74311, 743...
20   1      0  {81920, 81921, 81922, 81923, 81924, 81925, 819...
21   1      0  {88335, 88336, 88337, 88338, 88339, 88340, 883...
22   1      0  {98950, 98951, 98952, 98953, 98954, 98955, 989...
23   1      0  {106533, 106534, 106535, 106536, 106537, 10653...
24   1      0  {112979, 112980, 112981, 112982, 112983, 11298...
25   1      0  {120183, 120184, 120185, 120186, 120187, 12018...
26   1      0  {131072, 131073, 131074, 131075, 131076, 13107...

                                predictionString_pred
0   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
2   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
3   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
4   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
5   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
6   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
7   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
8   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
9   {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
10  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
11  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
12  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
13  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
14  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
15  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
16  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
17  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
18  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
19  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
20  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
21  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
22  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
23  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
24  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
25  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
26  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...

TypeError: unhashable type: 'set'

In [144]:
df_text[df_text.doc_id == 'essay001']

,label_type,label,text,span_start,span_end,doc_id,predictionString,label_bio,label_bieo
0,O,Other,Should students be taught to compete or to coo...,0,503,essay001,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...,O O O O O O O O O O O O O O O O O O O O O O O ...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1,T1,MajorClaim,we should attach more importance to cooperatio...,503,575,essay001,83 84 85 86 87 88 89 90 91 92,B-MajorClaim I-MajorClaim I-MajorClaim I-Major...,"[B-MajorClaim, I-MajorClaim, I-MajorClaim, I-M..."
2,O,Other,".\nFirst of all,",575,591,essay001,93 94 95 96,O O O O,"[O, O, O, O]"
3,T3,Claim,"through cooperation, children can learn about ...",591,714,essay001,97 98 99 100 101 102 103 104 105 106 107 108 1...,B-Claim I-Claim I-Claim I-Claim I-Claim I-Clai...,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
4,O,Other,.,714,716,essay001,115,O,[O]
5,T4,Premise,What we acquired from team work is not only ho...,716,851,essay001,116 117 118 119 120 121 122 123 124 125 126 12...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
6,O,Other,.,851,853,essay001,142,O,[O]
7,T5,Premise,"During the process of cooperation, children ca...",853,1086,essay001,143 144 145 146 147 148 149 150 151 152 153 15...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
8,O,Other,.,1086,1088,essay001,180,O,[O]
9,T6,Premise,All of these skills help them to get on well w...,1088,1191,essay001,181 182 183 184 185 186 187 188 189 190 191 19...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
10,O,Other,".\nOn the other hand,",1191,1212,essay001,202 203 204 205 206,O O O O O,"[O, O, O, O, O]"
11,T8,Premise,the significance of competition is that how to...,1212,1301,essay001,207 208 209 210 211 212 213 214 215 216 217 21...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
12,O,Other,. Hence it is always said that,1301,1332,essay001,222 223 224 225 226 227 228,O O O O O O O,"[O, O, O, O, O, O, O]"
13,T7,Claim,competition makes the society more effective,1332,1376,essay001,229 230 231 232 233 234,B-Claim I-Claim I-Claim I-Claim I-Claim I-Claim,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
14,O,Other,". However,",1376,1387,essay001,235 236,O O,"[O, O]"
15,T9,Premise,when we consider about the question that how t...,1387,1492,essay001,237 238 239 240 241 242 243 244 245 246 247 24...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
16,O,Other,". The greater our goal is, the more competitio...",1492,1549,essay001,257 258 259 260 261 262 263 264 265 266 267,O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O]"
17,T10,Premise,Take Olympic games which is a form of competit...,1549,1846,essay001,268 269 270 271 272 273 274 275 276 277 278 27...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
18,O,Other,. The winner is the athlete but the success be...,1846,1927,essay001,326 327 328 329 330 331 332 333 334 335 336 33...,O O O O O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
19,T11,Claim,"without the cooperation, there would be no vic...",1927,1992,essay001,341 342 343 344 345 346 347 348 349 350,B-Claim I-Claim I-Claim I-Claim I-Claim I-Clai...,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
20,O,Other,".\nConsequently, no matter from the view of in...",1992,2154,essay001,351 352 353 354 355 356 357 358 359 360 361 36...,O O O O O O O O O O O O O O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
21,T2,MajorClaim,a more cooperative attitudes towards life is m...,2154,2231,essay001,375 376 377 378 379 380 381 382 383 384 385 386,B-MajorClaim I-MajorClaim I-MajorClaim I-Major...,"[B-MajorClaim, I-MajorClaim, I-MajorClaim, I-M..."
22,O,Other,.,2231,2232,essay001,387,O,[O]

In [157]:
def get_predictionString(labels, doc_ids):
    """ 
    """
    # TODO need to ensure that we are mapping to the correct class names and doc IDs!
    ids = []
    classes = []
    prediction_strings = []
    for doc_id, label in zip(doc_ids, labels):
        unique_classes, unique_class_counts = torch.unique_consecutive(label, return_counts=True)
        start_id = 1
        for unique_class, unique_class_count in zip(unique_classes, unique_class_counts):
            ids.append(doc_id.item())
            classes.append(unique_class.item())
            end_id = start_id + unique_class_count + 1 
            prediction_strings.append(set(range(start_id, end_id)))
            start_id = end_id
    return pd.DataFrame(data={'id': ids, 'class': classes, 'predictionString': prediction_strings})

In [127]:
df_text[df_text.doc_id == 'essay001']

,label_type,label,text,span_start,span_end,doc_id,predictionString,label_bio,label_bieo
0,O,Other,Should students be taught to compete or to coo...,0,503,essay001,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...,O O O O O O O O O O O O O O O O O O O O O O O ...,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1,T1,MajorClaim,we should attach more importance to cooperatio...,503,575,essay001,83 84 85 86 87 88 89 90 91 92,B-MajorClaim I-MajorClaim I-MajorClaim I-Major...,"[B-MajorClaim, I-MajorClaim, I-MajorClaim, I-M..."
2,O,Other,".\nFirst of all,",575,591,essay001,93 94 95 96,O O O O,"[O, O, O, O]"
3,T3,Claim,"through cooperation, children can learn about ...",591,714,essay001,97 98 99 100 101 102 103 104 105 106 107 108 1...,B-Claim I-Claim I-Claim I-Claim I-Claim I-Clai...,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
4,O,Other,.,714,716,essay001,115,O,[O]
5,T4,Premise,What we acquired from team work is not only ho...,716,851,essay001,116 117 118 119 120 121 122 123 124 125 126 12...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
6,O,Other,.,851,853,essay001,142,O,[O]
7,T5,Premise,"During the process of cooperation, children ca...",853,1086,essay001,143 144 145 146 147 148 149 150 151 152 153 15...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
8,O,Other,.,1086,1088,essay001,180,O,[O]
9,T6,Premise,All of these skills help them to get on well w...,1088,1191,essay001,181 182 183 184 185 186 187 188 189 190 191 19...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
10,O,Other,".\nOn the other hand,",1191,1212,essay001,202 203 204 205 206,O O O O O,"[O, O, O, O, O]"
11,T8,Premise,the significance of competition is that how to...,1212,1301,essay001,207 208 209 210 211 212 213 214 215 216 217 21...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
12,O,Other,. Hence it is always said that,1301,1332,essay001,222 223 224 225 226 227 228,O O O O O O O,"[O, O, O, O, O, O, O]"
13,T7,Claim,competition makes the society more effective,1332,1376,essay001,229 230 231 232 233 234,B-Claim I-Claim I-Claim I-Claim I-Claim I-Claim,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
14,O,Other,". However,",1376,1387,essay001,235 236,O O,"[O, O]"
15,T9,Premise,when we consider about the question that how t...,1387,1492,essay001,237 238 239 240 241 242 243 244 245 246 247 24...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
16,O,Other,". The greater our goal is, the more competitio...",1492,1549,essay001,257 258 259 260 261 262 263 264 265 266 267,O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O]"
17,T10,Premise,Take Olympic games which is a form of competit...,1549,1846,essay001,268 269 270 271 272 273 274 275 276 277 278 27...,B-Premise I-Premise I-Premise I-Premise I-Prem...,"[B-Premise, I-Premise, I-Premise, I-Premise, I..."
18,O,Other,. The winner is the athlete but the success be...,1846,1927,essay001,326 327 328 329 330 331 332 333 334 335 336 33...,O O O O O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O]"
19,T11,Claim,"without the cooperation, there would be no vic...",1927,1992,essay001,341 342 343 344 345 346 347 348 349 350,B-Claim I-Claim I-Claim I-Claim I-Claim I-Clai...,"[B-Claim, I-Claim, I-Claim, I-Claim, I-Claim, ..."
20,O,Other,".\nConsequently, no matter from the view of in...",1992,2154,essay001,351 352 353 354 355 356 357 358 359 360 361 36...,O O O O O O O O O O O O O O O O O O O O O O O O,"[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
21,T2,MajorClaim,a more cooperative attitudes towards life is m...,2154,2231,essay001,375 376 377 378 379 380 381 382 383 384 385 386,B-MajorClaim I-MajorClaim I-MajorClaim I-Major...,"[B-MajorClaim, I-MajorClaim, I-MajorClaim, I-M..."
22,O,Other,.,2231,2232,essay001,387,O,[O]

In [ ]:
def get_predictionString(labels, doc_ids):
    for label in labels:
        unique_classes, unique_class_counts = torch.unique_consecutive(return_counts=True)

In [99]:
df_input.iloc[[0,1]].label_bio.apply(lambda x: len(x))

doc_id
essay001    387
essay002    346
Name: label_bio, dtype: int64

   0  1
0  1  2
1  3  4