# Development Notebook

### Imports

In [9]:
# -- public imports

import os
import pandas as pd
from brat_parser import get_entities_relations_attributes_groups

In [10]:
# -- private import

In [11]:
# -- dev imports

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Importing the dataset

In [12]:
base_path = '../../data/UCL/dataset2'
path = os.path.join(base_path, 'ArgumentAnnotatedEssays-2.0')
text_file_dir = os.path.join(path, 'brat-project-final')

texts = []
annotated_texts = []
for file in os.listdir(text_file_dir):
    essay_num, file_extension = file.split('.')
    if file_extension == 'ann':
        with open(os.path.join(text_file_dir, file), 'r') as f:
            df_temp = pd.read_csv(f, delimiter='\t', header=None, names=['label_type', 'label', 'text'])
            df_temp[['label', 'label_comp1', 'label_comp2']] = df_temp.label.str.split(expand=True)
            df_temp['doc_id'] = essay_num
            annotated_texts.append(df_temp)
    elif file_extension == 'txt':
        with open(os.path.join(text_file_dir, file), 'r') as f:
            texts.append((essay_num, f.read()))
    else:
        continue

df_texts = pd.DataFrame.from_records(texts, columns=['doc_id', 'text'])
df_annotated = pd.concat(annotated_texts)

assert sorted(df_annotated.doc_id.unique()) == sorted(df_texts.doc_id)

In [13]:
df_annotated

,label_type,label,text,label_comp1,label_comp2,doc_id
0,T1,MajorClaim,alternative means of transportation and intern...,358,464,essay031
1,T2,MajorClaim,alternative forms of transport and internation...,2393,2565,essay031
2,T3,Claim,some people claim the convenience of automobile,2325,2372,essay031
3,A1,Stance,NaN,T3,Against,essay031
4,T4,Claim,it is crucial to alter automobiles to the othe...,822,933,essay031
...,...,...,...,...,...,...
21,T13,Premise,"In order to promote the country's attractions,...",1468,1595,essay028
22,T14,Premise,Only well planned and well targeted advertisin...,1597,1692,essay028
23,R5,supports,NaN,Arg1:T12,Arg2:T11,essay028
24,R6,supports,NaN,Arg1:T13,Arg2:T11,essay028
25,R7,supports,NaN,Arg1:T14,Arg2:T11,essay028

In [14]:
df_texts.to_json(
    os.path.join(base_path, 'df_texts.json')
)

df_annotated.reset_index(drop=True).to_json(
    os.path.join(base_path, 'df_full_annotated.json')
)

In [15]:
ids_argument_segment = df_annotated.label_type.str.startswith('T')

df_arguments = df_annotated[ids_argument_segment]

df_arguments

,label_type,label,text,label_comp1,label_comp2,doc_id
0,T1,MajorClaim,alternative means of transportation and intern...,358,464,essay031
1,T2,MajorClaim,alternative forms of transport and internation...,2393,2565,essay031
2,T3,Claim,some people claim the convenience of automobile,2325,2372,essay031
4,T4,Claim,it is crucial to alter automobiles to the othe...,822,933,essay031
6,T5,Premise,an increase in the number of automobiles bring...,561,638,essay031
...,...,...,...,...,...,...
16,T10,Premise,"Thanks to ads we learn about new products, we ...",1209,1305,essay028
18,T11,Claim,"These days, not only many businesses, but also...",1307,1393,essay028
20,T12,Premise,tourism makes up one-third of the Czech Republ...,1408,1466,essay028
21,T13,Premise,"In order to promote the country's attractions,...",1468,1595,essay028
22,T14,Premise,Only well planned and well targeted advertisin...,1597,1692,essay028

In [16]:
df_arguments = df_arguments.rename(columns={'label_comp1':'span_start', 'label_comp2':'span_end'}).astype(
    {'span_start': int, 'span_end':int}
)
df_arguments.dtypes

label_type    object
label         object
text          object
span_start     int64
span_end       int64
doc_id        object
dtype: object

In [17]:
records = []
df_arguments = df_arguments.sort_values(['doc_id', 'span_start', 'span_end'])
for (doc_id, text) in df_texts.sort_values('doc_id').itertuples(index=False):
    df_argument = df_arguments[df_arguments.doc_id == doc_id]
    prev_span = 0
    for i, (text_segment, span_start, span_end) in enumerate(df_argument[['text', 'span_start', 'span_end']].itertuples(index=False)):
        try:
            assert text_segment == text[span_start: span_end]
        except Exception as e:
            print(f'{text_segment}\n{text[span_start: span_end]}\n')
        # all the exception were manually checked. These are because of qutoe chars, this is a hot fix.!!!! TODO
            df_arguments['text'][df_arguments.text == text_segment] = text[span_start: span_end]
        records.append(('O', 'Other', text[prev_span: span_start], prev_span, span_start, doc_id))
        prev_span = span_end
    records.append(('O', 'Other', text[prev_span:], prev_span, len(text), doc_id))

murdering criminals is therefore immoral and hard to accept
"murdering" criminals is therefore immoral and hard to accept

/var/folders/_6/scw_50_57tb8mmbpq6ylnl6w0000gn/T/ipykernel_14116/2945358557.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arguments['text'][df_arguments.text == text_segment] = text[span_start: span_end]
/var/folders/_6/scw_50_57tb8mmbpq6ylnl6w0000gn/T/ipykernel_14116/2945358557.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arguments['text'][df_arguments.text == text_segment] = text[span_start: span_end]
/var/folders/_6/scw_50_57tb8mmbpq6ylnl6w0000gn/T/ipykernel_14116/2945358557.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arguments['text'][df_arguments.text == text_segment] = text[span_start: span_end]

Click is a very interesting comedy, with a serious approach about the importance of having a balanced life between family and work businesses
"Click" is a very interesting comedy, with a serious approach about the importance of having a balanced life between family and work businesses

Blood diamond, an adaptation of a real story in South Africa, focuses on the link between diamonds and conflict
"Blood diamond", an adaptation of a real story in South Africa, focuses on the link between diamonds and conflict

rush hours are usually not the direct consequence of drivers
"rush hours" are usually not the direct consequence of drivers

/var/folders/_6/scw_50_57tb8mmbpq6ylnl6w0000gn/T/ipykernel_14116/2945358557.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arguments['text'][df_arguments.text == text_segment] = text[span_start: span_end]

In [18]:
df_other = pd.DataFrame.from_records(records, columns=df_arguments.columns)
df_other

,label_type,label,text,span_start,span_end,doc_id
0,O,Other,Should students be taught to compete or to coo...,0,503,essay001
1,O,Other,".\nFirst of all,",575,591,essay001
2,O,Other,.,714,716,essay001
3,O,Other,.,851,853,essay001
4,O,Other,.,1086,1088,essay001
...,...,...,...,...,...,...
6486,O,Other,.,1339,1341,essay402
6487,O,Other,", so",1388,1393,essay402
6488,O,Other,". Secondly,",1436,1448,essay402
6489,O,Other,". \nIn conclusion,",1525,1543,essay402
6490,O,Other,.,1620,1621,essay402

In [26]:
df_combined = pd.concat([df_other, df_arguments])
df_combined = df_combined.sort_values(['doc_id', 'span_start', 'span_end']).reset_index(drop=True)
df_combined[df_combined.doc_id == 'essay001']

,label_type,label,text,span_start,span_end,doc_id
0,O,Other,Should students be taught to compete or to coo...,0,503,essay001
1,T1,MajorClaim,we should attach more importance to cooperatio...,503,575,essay001
2,O,Other,".\nFirst of all,",575,591,essay001
3,T3,Claim,"through cooperation, children can learn about ...",591,714,essay001
4,O,Other,.,714,716,essay001
5,T4,Premise,What we acquired from team work is not only ho...,716,851,essay001
6,O,Other,.,851,853,essay001
7,T5,Premise,"During the process of cooperation, children ca...",853,1086,essay001
8,O,Other,.,1086,1088,essay001
9,T6,Premise,All of these skills help them to get on well w...,1088,1191,essay001
10,O,Other,".\nOn the other hand,",1191,1212,essay001
11,T8,Premise,the significance of competition is that how to...,1212,1301,essay001
12,O,Other,. Hence it is always said that,1301,1332,essay001
13,T7,Claim,competition makes the society more effective,1332,1376,essay001
14,O,Other,". However,",1376,1387,essay001
15,T9,Premise,when we consider about the question that how t...,1387,1492,essay001
16,O,Other,". The greater our goal is, the more competitio...",1492,1549,essay001
17,T10,Premise,Take Olympic games which is a form of competit...,1549,1846,essay001
18,O,Other,. The winner is the athlete but the success be...,1846,1927,essay001
19,T11,Claim,"without the cooperation, there would be no vic...",1927,1992,essay001
20,O,Other,".\nConsequently, no matter from the view of in...",1992,2154,essay001
21,T2,MajorClaim,a more cooperative attitudes towards life is m...,2154,2231,essay001
22,O,Other,.,2231,2232,essay001

In [27]:
df_combined.to_json(
        os.path.join(base_path, 'df_with_other.json')
)

In [35]:
df_essay001 = df_combined[df_combined.doc_id == 'essay001']
''.join(df_essay001.text)

"Should students be taught to compete or to cooperate?\n\nIt is always said that competition can effectively promote the development of economy. In order to survive in the competition, companies continue to improve their products and service, and as a result, the whole society prospers. However, when we discuss the issue of competition or cooperation, what we are concerned about is not the whole society, but the development of an individual's whole life. From this point of view, I firmly believe that we should attach more importance to cooperation during primary education.\nFirst of all, through cooperation, children can learn about interpersonal skills which are significant in the future life of all students. What we acquired from team work is not only how to achieve the same goal with others but more importantly, how to get along with others. During the process of cooperation, children can learn about how to listen to opinions of others, how to communicate with others, how to think comprehensively, and even how to compromise with other team members when conflicts occurred. All of these skills help them to get on well with other people and will benefit them for the whole life.\nOn the other hand, the significance of competition is that how to become more excellence to gain the victory. Hence it is always said that competition makes the society more effective. However, when we consider about the question that how to win the game, we always find that we need the cooperation. The greater our goal is, the more competition we need. Take Olympic games which is a form of competition for instance, it is hard to imagine how an athlete could win the game without the training of his or her coach, and the help of other professional staffs such as the people who take care of his diet, and those who are in charge of the medical care. The winner is the athlete but the success belongs to the whole team. Therefore without the cooperation, there would be no victory of competition.\nConsequently, no matter from the view of individual development or the relationship between competition and cooperation we can receive the same conclusion that a more cooperative attitudes towards life is more profitable in one's success."

In [33]:
df_essay001.values[1]

array(['T1', 'MajorClaim',
       'we should attach more importance to cooperation during primary education',
       503, 575, 'essay001'], dtype=object)

In [34]:
df_essay001.values[2]

array(['O', 'Other', '.\nFirst of all, ', 575, 591, 'essay001'],
      dtype=object)

In [27]:
from argminer.data import DataProcessor, TUDarmstadtProcessor

In [78]:
test = DataProcessor(1)
test.preprocess()
test.pr()

AttributeError: 'DataProcessor' object has no attribute '_preprocess'

In [88]:
path = '../../data/UCL/dataset2/ArgumentAnnotatedEssays-2.0/brat-project-final'
test2 = TUDarmstadtProcessor(path)
test2.preprocess()
test2.process('bio')

Found non-matching segments:--------------------------------------------------

murdering criminals is therefore immoral and hard to accept

"murdering" criminals is therefore immoral and hard to accept

Found non-matching segments:--------------------------------------------------

Click is a very interesting comedy, with a serious approach about the importance of having a balanced life between family and work businesses

"Click" is a very interesting comedy, with a serious approach about the importance of having a balanced life between family and work businesses

Found non-matching segments:--------------------------------------------------

Blood diamond, an adaptation of a real story in South Africa, focuses on the link between diamonds and conflict

"Blood diamond", an adaptation of a real story in South Africa, focuses on the link between diamonds and conflict

Found non-matching segments:--------------------------------------------------

rush hours are usually not the direct consequence of drivers

"rush hours" are usually not the direct consequence of drivers

         doc_id                                               text       label
0      essay001  Should students be taught to compete or to coo...       Other
1      essay001  we should attach more importance to cooperatio...  MajorClaim
2      essay001                                  .\nFirst of all,        Other
3      essay001  through cooperation, children can learn about ...       Claim
4      essay001                                                 .        Other
...         ...                                                ...         ...
12575  essay402                                       . Secondly,        Other
12576  essay402  playing sport makes children getting healthy a...     Premise
12577  essay402                                . \nIn conclusion,        Other
12578  essay402  both studying hard at school and playing sport...  MajorClaim
12579  essay402                                                  .       Other

[12580 rows x 3 columns]
None

In [85]:
df = pd.DataFrame({'a':[1,2,3]})

df2 = df
df2.a = df2.a.apply(lambda x: x*2)
print(df)

   a
0  2
1  4
2  6

[autoreload of argminer.data failed: Traceback (most recent call last):
  File "/Users/yousefnami/opt/anaconda3/envs/argument-mining/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 257, in check
    superreload(m, reload, self.old_objects)
  File "/Users/yousefnami/opt/anaconda3/envs/argument-mining/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 455, in superreload
    module = reload(module)
  File "/Users/yousefnami/opt/anaconda3/envs/argument-mining/lib/python3.8/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 839, in exec_module
  File "<frozen importlib._bootstrap_external>", line 976, in get_code
  File "<frozen importlib._bootstrap_external>", line 906, in source_to_code
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/yousefnami/Desktop/Main/0.Education/2.UCL/Courses/NLP/argument-mining/argminer/data.py", line 180
    df =
        ^
SyntaxError: invalid syntax
]

In [66]:
test2.preprocess()

preprocessed

Exception: Preprocess method has already been called.